{
    "appserver": {
        "host": "localhost",
        "port": 3306,
        "database": "appserver",
        "username": "appserver",
        "password": "appserver",
        "name": "appserver",
        "connector": "mysql"
    },
    "db": {
        "name": "db",
        "connector": "memory"
    }
}
